{% extends 'base.html.twig' %}
{% block title %}{{ 'auth.sign_up'|trans }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('styles/auth.css') }}">
{% endblock %}

{% block body %}
<div class="auth-page">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-7 col-lg-6">
        <div class="card auth-card shadow-sm">
          <div class="card-body p-4">

            <h1 class="h4 auth-title text-center mb-4">{{ 'auth.sign_up'|trans }}</h1>

            {# IMPORTANT : pas de d-grid ici pour éviter les conflits avec .row/.col #}
            {{ form_start(registrationForm, { translation_domain: 'messages' }) }}

              {{ form_errors(registrationForm) }}

              {# Nom / Prénom #}
              <div class="row g-3">
                <div class="col-md-6">
                  {{ form_row(registrationForm.name, { label: 'user.name'|trans }) }}
                </div>
                <div class="col-md-6">
                  {{ form_row(registrationForm.firstname, { label: 'user.firstname'|trans }) }}
                </div>
              </div>

              {# Email #}
              <div class="row g-3 mt-0">
                <div class="col-12">
                  {{ form_row(registrationForm.email, { label: 'auth.email'|trans }) }}
                </div>
              </div>

              {# Adresse (adresse pleine largeur) #}
              <div class="row g-3">
                <div class="col-12">
                  {{ form_row(registrationForm.address, { label: 'Adresse' }) }}
                </div>
              </div>

              {# Code postal / Ville #}
              <div class="row g-3">
                <div class="col-md-4">
                  {{ form_row(registrationForm.postalCode, { label: 'Code postal' }) }}
                </div>
                <div class="col-md-8">
                  {{ form_row(registrationForm.city, { label: 'Ville' }) }}
                </div>
              </div>

              {# Pays #}
              <div class="row g-3">
                <div class="col-12">
                  {{ form_row(registrationForm.country, { label: 'Pays' }) }}
                </div>
              </div>

              {# Mots de passe #}
              <div class="row g-3">
                <div class="col-md-6">
                  {{ form_row(registrationForm.plainPassword.first, { label: 'auth.password'|trans }) }}
                </div>
                <div class="col-md-6">
                  {{ form_row(registrationForm.plainPassword.second, { label: 'auth.password_confirm'|trans }) }}
                </div>
              </div>

              <button type="submit" class="btn btn-primary w-100 auth-submit mt-3">
                {{ 'auth.create_account'|trans }}
              </button>

              <p class="text-center m-0 mt-2">
                {{ 'auth.have_account'|trans }}
                <a href="{{ path('app_login') }}">{{ 'auth.log_in'|trans }}</a>
              </p>

              {{ form_rest(registrationForm) }}
            {{ form_end(registrationForm) }}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
